html, body {
    padding: 0;
    margin: 0;
}

.contenido button {
    color: white;
    width: 60%;
    border-radius: 5px;
    margin-left: AUTO;
    margin-right: AUTO;
    margin-bottom: 40px;
    background-color: rgb(30, 30, 30);
    border: 2px solid rgb(30, 30, 30);
    font-family: FONTSPRING DEMO - TT Commons Pro Demibold;
    font-size: 20px;
    font-weight: 600;
    min-height: 40px;
}

.contenido button:hover {
    background-color: #ee3048;
    color: white;
    border: 2px solid #ee3048;
    transition-duration: .2s;
}

.perfil {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    justify-content: center;
    text-align: center;
}

.perfil img {
    width: 80px;
    border: 2px solid #ee3048;
    border-radius: 50%;
}

.perfil div {
    font-family: FONTSPRING DEMO - TT Commons Pro Demibold;
    font-size: 24px;
    font-weight: 300;
}

.perfil div p {
    margin-bottom: -8px;
}

.perfil div a {
    color: gray;
    font-size: 16px;
    font-weight: 100;
    text-decoration: none;
}

.perfil div a:hover {
    color: #ee3048;
}

.contenido {
    display: flex;
}

.pantalla-control {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    text-align: center;
}

.img-habitacion {
    height: 100vh;
    position: relative;
    display: flex;
    width: 60%;
    overflow: hidden;
    display: block;
    
}
.img-habitacion img {
    min-height: 140vh;
    min-width: 60vw;
}

.img-logo {
    text-align: center;
}

.img-logo img {
    display: block;
    margin: 50px auto;
    width: 250px;
}