/* Cuerpo y html */

html, body, header, footer{
    margin: 0;
    padding: 0;
}

/* css generales para la navbar */
.navbar {
    background-color: rgb(20, 20, 20);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px 20px 50px;
    margin: 0;
    height: auto;
    
}

/* css para el logotipo */
.navbar-logo img {
    width: 160px;
    height: auto;
    margin-top: 6px;
}

.sesion {
    display: flex;
    margin-top: 10px;
}

#avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #eee;
}

#dropdownMenuButton1 {
    opacity: 0;
}

/* Footer */

footer {
    height: 500px;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 0;
    padding: 150px 40px 0 40px;
}

.footer-img {
    width: 400px;
}

.footer-realty-logo img {
    width: 200px;
}

.contacto {
    color: white;
    margin-top: 10px;
    margin-bottom: 40px;

}

.contacto p {
    margin: 0;
    font-weight: 100;
}


.redes img {
    width: 30px;
    margin: 20px 45px 0 0;
    padding:0;
    
}

.recursos {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    font-weight: 100;
    color: white;
    font-size: 14px;
}

.recursos div {
    margin: 0 15px 0 15px;
}

.recursos li {
    list-style: none;
    margin-top: 10px;
}

.recursos h3 {
    font-weight: 100;
}

@media (max-width: 768px) {
    footer {
        
        flex-direction: column;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .footer-img {
        text-align: center;
    }

    .redes img {
        margin: 15px;
    }

    .recursos {
        margin-top: 60px;
    }

    
}


/* sidebar */
.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: rgb(60, 60, 60);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 20px;
    z-index: 1000;
}

#openBtn, #closeBtn {
	background: none;
	border: none;
	padding: 0;
}

.close-button {
	width: 100%;
	display: flex;
	align-items: right;
}

#closeBtn {
    margin-top: 10px;
	margin-bottom: 40px;
	margin-left: 20px;
}

#closeBtn:hover {
	opacity: .4;
    transition-duration: .5s;
}

#openBtn:hover {
	filter: brightness(.8);
}

#menu {
	padding: 0;
}

#menu a {
	width: 320px;
	padding: 15px 25px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	display: block;
	transition: 0.3s;
	border: none;
	border-left: 0;
	border-right: 0;
    font-weight: 200;
}

#menu a:hover {
	font-weight: 700;
}

.content {
	transition: margin-left .5s;
	padding: 16px;
	margin-left: 0;
}

#usuario {
    width: 85%;
    border-top: 1px solid gray;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
