<footer>
	<div class="footer-img" id="footer-img">

		<div class="footer-realty-logo">
			<img src="../views/img/realty_logo_b.svg">
		</div>

		<div class="contacto">
			<p>Dirección: México 45, Los Encinos, 34307 MÉXICO, Victoria de Durango, Dgo. </p>
			<p>E-mail: realty-dgo@gmail.com</p>
			<p>Tel. 1: (618) 277 21 01 </p>
			<p>Tel. 2: (618) 029 18 28 </p>
		</div>

		<div class="redes">
			<img src="../views/img/twitter.png" alt="">
			<img src="../views/img/whatsapp.png" alt="">
			<img src="../views/img/youtube.png" alt="">
			<img src="../views/img/instagram.png" alt="">
			<img src="../views/img/facebook.png" alt="">
		</div>

	</div>

	<div class="recursos">

		<div>
			<h3>Nosotros</h3>
			<ul>
				<li>Código de ética</li>
				<li>Blog</li>
				<li>Terminos y Condiciones</li>
				<li>Aviso de privacidad</li>
			</ul>
		</div>

		<div>
			<h3>Recursos</h3>
			<ul>
				<li>Calculadora inmobiliaria</li>
				<li>Testimonios</li>
				<li>Oficinas</li>
			</ul>
		</div>

		<div>
			<h3>¿Eres un agente?</h3>
			<ul>
				<li>Primeros pasos</li>
				<li>Únete a nuestro equipo</li>
				<li>Disposiciones legales</li>
			</ul>
		</div>

	</div>
</footer>