<header>

    <nav class="navbar">

        <div class="logo">
            <a href="../index.php"><img src="../views/img/realty_logo_b.svg" alt="Logo de la empresa"></a>
        </div>

        <ul class="nav-links">
            <li><a href="../index.php">/INICIO</a></li>
            <li><a href="../views/menu-control.php">/MENÚ DE CONTROL</a></li>
            <li><a href="#footer-img">/CONTACTO</a></li>
            <li><a href="../controllers/php/logout.php">/LOGOUT</a></li>
        </ul>

    </nav>

</header>