html, body{
    padding: 0;
    margin: 0;
}
.pantalla_sesion{
    display: flex;
}

.inicio_sesion {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    text-align: center;
    font-family: FONTSPRING DEMO - TT Commons Pro Demibold;
    font-size: 28px;
    color: #ee3048;
    height: 95vh;
    overflow: scroll;
}

.imagen_sesion{
    height: 95vh;
    position: relative;
    display: flex;
    width: 60%;
    overflow: hidden;
    display: block;
    object-fit: fill;
}

.imagen_sesion img{
    min-height: 140vh;
    min-width: 70vw;
    max-width: 200vh;
    
}

input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 80%;
    height: 40px;
    border-color: #ee3048;
}

.log {
    margin-bottom: 40px;
}

input[type=submit] {
    background-color: #ee3048;
    border: 2px solid #ee3048;
    font-family: FONTSPRING DEMO - TT Commons Pro Demibold;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border-radius: 20px;
    width: 50%;
    height: 40px;
}


.mi-boton:hover {
    background-color:rgb(94, 3, 3);
}

.boton-mi {
    cursor: pointer;
    width: 50%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    height: auto;
    font-family: FONTSPRING DEMO - TT Commons Pro Demibold;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border: 2px solid lightgray;
    margin-bottom: 40px;
}

.boton-mi:hover {
    background-color: white;
}

.imagen_realty {
    text-align: center;
}

.imagen_realty img {
    display: block;
    margin: auto;
    width: 250px;
}

button:hover{
    border-color: #ee3048;
    color: #ee3048;
}

input:focus {
    outline: none;
}

input[type=submit]:hover {
    background-color: white;
    color: #ee3048;
    border: 2px solid #ee3048;
}

.inicio_sesion h2 {
    font-size: 60px;
    font-weight: 100;
    
}